/* this css file will only style the homepage of our site */

.profile {
  margin: 10px;
  max-width: 500px;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5x
}

.row::after {
    conentent: "./img/scid2.jpg";
    clear: both;
    display: table;
}

.assignments section {
  margin: 20px;
  text-align: left;
  border: solid 10px rgb(255, 0, 0);
  color: black;
}