/* this css file will only style the homepage of our site */

.profile {
  margin: 10px;
  max-width: 500px;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5x
}

.row::after {
    content: "./img/scid2.jpg";
    clear: both;
    display: table;
}

