/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */


.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #ff6363;
    background-color: #aaa79c;
    width: 100%;
    height: auto;
    text-align: center;
    
  }

.output {
  max-width: auto;
  height: auto;
  text-align: center;
  padding: 20px;
}

#content {
  text-align: center;
}

img {
  width: 100%;
  height: auto;
}
